<a href="https://colab.research.google.com/github/MutwiriC/MutwiriC/blob/main/Copy_of_nested.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
cities.csv

cities.xlsx
"""

### None Datatype
In Python, `None` is a special constant that represents the **absence of a value** or **nothingness**.  

Key points about `None`:
- It is of type `NoneType`.
- It is often used to indicate that a variable has not been assigned a value yet.
- Functions that don’t explicitly return a value will return `None` by default.
- It is useful for representing "missing" or "not available" data (common in data science).

### Common Use Cases:
1. **Default function return value** if nothing is returned.
2. **Variable initialization** before assigning a real value.
3. **Missing data representation** in data processing.
4. **Optional function arguments** where `None` acts as a placeholder.

In [ ]:
# Optional function arguments where None acts as a placeholder
def check_price(price, discount=None):
  if discount is None:
    return price
  else:
    return price - (price * discount/100)

#check_price(2050)
check_price(2050, 25)

1537.5

In [ ]:
# Missing data representation in data processing.
#example using jumia

jumia = {
    'phones': ['iphone', None, 'nokia', None, 'oppo'],
    'fashion': ['dress', 't-shirt', 'trousers', None, None],
    'health_beauty' : ['lotion', None, None, 'mascara', None],
    'gaming': ['xbox 360', 'ps4', 'ps5', 'nintendo switch', None]
}

import pandas as pd

df = pd.DataFrame(jumia)

df

   phones   fashion health_beauty           gaming
0  iphone     dress        lotion         xbox 360
1    None   t-shirt          None              ps4
2   nokia  trousers          None              ps5
3    None      None       mascara  nintendo switch
4    oppo      None          None             None

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   phones         3 non-null      object
 1   fashion        3 non-null      object
 2   health_beauty  2 non-null      object
 3   gaming         4 non-null      object
dtypes: object(4)
memory usage: 292.0+ bytes

## Introduction to Nesting

In this lesson, we will explore the concept of **nesting** in Python programming.  
Nesting simply means placing one element or structure inside another. For example:
- A **list inside another list**
- A **dictionary inside another dictionary**
- A **loop inside another loop**

These concepts are especially useful in **data science**, where data is often stored in structured or nested formats (like tables, JSON files, or multi-dimensional arrays).

#### Objectives

1. **Loop over collections** using `for` loops.
2. Understand and create **nested lists** and **nested dictionaries**.
3. Write and interpret **nested loops** that work with these structures.
4. Use **list comprehensions** and **dictionary comprehensions** to write cleaner, more compact code.


Let’s start by reviewing simple `for` loops before moving into **nesting**!

In [ ]:
#create a list and print out each element in the list

numbers = []

for i in range(10):
  numbers.append(i+2)
numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
squared = []

for number in numbers:
  squared.append(number ** 2)

squared

[4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [ ]:
#show example of looping with a condition
#finding even and odd numbers

for number in numbers:
  if number % 2 == 0:
    print(f'this number {number} is even')

  else:
    print(f'this number {number} is odd')

this number 2 is even
this number 3 is odd
this number 4 is even
this number 5 is odd
this number 6 is even
this number 7 is odd
this number 8 is even
this number 9 is odd
this number 10 is even
this number 11 is odd

In other words, loops allow one line of code to execute on multiple elements in a collection. For example: uppercasing each of the names in a list.

In [ ]:
#create list with lowercase letters and uppercase them using a loop
letters = ['rin, gim, tim']
for letter in letters:
  letter.upper()
  letter

When looping through a collection, sometimes we need **both the item and its position (index)**.


While we could use `range(len(collection))` to get the index, this approach is less readable. The built-in `enumerate()` function makes this easier by returning each item **together with its index** in a clean and *Pythonic* way.


It also allows us to set a custom starting index, which can be useful when numbering items (e.g., starting roll numbers from 1 instead of 0).

In [ ]:
#example looping using enumerate in lists

consoles = jumia ['gaming']
consoles

['xbox 360', 'ps4', 'ps5', 'nintendo switch', None]

In [ ]:
for _ in range(len(consoles)):
  print(_, consoles[_])

0 xbox 360
1 ps4
2 ps5
3 nintendo switch
4 None

### Nested Lists & Dictionaries
**Nested list** is a list that contains other lists as its elements. This allows us to represents `multi-dimensional data` eg. a table with rows and columns can be stored as a list of lists.


We've seen how to loop over normal lists, lets see how to loop over nested ones.

In [ ]:
#create a nested list and loop over it using nested statements
random_numbers = []

for i in range(5):
  element = [i, i**2, i*2]
  random_numbers.append(element)

In [ ]:
random_numbers

[[0, 0, 0], [1, 1, 2], [2, 4, 4], [3, 9, 6], [4, 16, 8]]

In [ ]:
for random_number in random_numbers:
  for element in random_number:
    element +=1
    print(element)
  print(random_number)

1
1
1
[0, 0, 0]
2
2
3
[1, 1, 2]
3
5
5
[2, 4, 4]
4
10
7
[3, 9, 6]
5
17
9
[4, 16, 8]

In [ ]:
for random_number in random_numbers:
  print(random_number)

  for number in random_number:
    print(number)

[0, 0, 0]
0
0
0
[1, 1, 2]
1
1
2
[2, 4, 4]
2
4
4
[3, 9, 6]
3
9
6
[4, 16, 8]
4
16
8

Now, similar to **nested lists**, **nested dicitonaries** are `dictionaries that are inside dictionaries`. The allow us to represent more complex, structured data where each key can map to another dictionary.

This particularly useful when working with **real-world datasets** like the Jumia(online shopping) example we saw yesterday.

Lets see how to loop over a nested dictionary.

In [46]:
#recreate jumia example
jumia_products = {
    'smartphone': {'category': 'phones & tablets', 'Price': 11464},
    'toiletries': {'category': 'Health & Beauty', 'Price': 999},
    'computers': {'category': 'Computing', 'Name': 'HP', 'Price': 22500},
    'computers_1': {'category': 'Computing', 'Name': 'Macbook M4', 'Price': 22500}
}
#this is a nested dictonary
type(jumia_products)

dict

In [5]:
jumia_products.items()

dict_items([('smartphone', {'category': 'phones & tablets', 'Price': 11464}), ('toiletries', {'category': 'Health & Beauty', 'Price': 999}), ('computers', {'categort': 'Computing', 'Price': 22500})])

In [32]:
for key, val in jumia_products.items():
  print(key,val)
  for keey, vaal in val.items():
    print(keey, vaal)

smartphone
toiletries
computers
computers_1

In [15]:
for key, value in jumia_products.items():
 # print(key,val)
  #print('This is the {}: This is the {}'.format(key,value))
  for inner_key, inner_value in value.items():
    print('This is the {}: This is the {}'.format(inner_key,inner_value))
#printing out inner keys and values

This is the category: This is the phones & tablets
This is the Price: This is the 11464
This is the category: This is the Health & Beauty
This is the Price: This is the 999
This is the categort: This is the Computing
This is the Price: This is the 22500

##### Test yourself: Using Nested Dictionaries with Conditionals
From the `...`, print only the products that belong to the **...** category.  
For each product, display its name and price.

In [39]:
#printing out a particular category

for key, value in jumia_products.items():
 # print(key,val)
  #print('This is the {}: This is the {}'.format(key,value))
  for inner_key, inner_value in value.items():
    if key == 'Computers':
     # print('This is the {}: This is the {}'.format(inner_key,inner_value))
      print (value['Name'])
#printing out inner keys and values

In [53]:
for key, value in jumia_products.items():
  for inner_key, inner_value in value.items():
    if inner_key == 'category'and inner_value =='Computing':
      print(value['Name'], value ['Price'])

HP 22500
Macbook M4 22500

In [51]:
for key, value in jumia_products.items():
  if value['category'] == 'Computing':
    print(value['Name'], value['Price'])

HP 22500
Macbook M4 22500

### Comprehensions
A **comprehension** is a concise way to create new lists or dictionaries in Python.  
It lets us write in **one line** what would otherwise take several lines with a `for` loop.  

There are two main types we’ll focus on:
- **List comprehensions** → create lists
- **Dictionary comprehensions** → create dictionaries

In [ ]:
##list comprehension

In [ ]:
##dictionary comprehension